/*Vuelta al inicio*/
.inicio2{
    background-color:rgba(0, 0, 0, 0.863);
    display: flex;
    justify-content:space-around;
    align-content: center;
    padding: 20px; 
    font-size: 20px;
    
}