/*redes sociales*/
.Redes{
    background-color: rgba(255, 255, 255, 0.808);
    text-align:center;
    color:#9e6730;
    float:center; 
    list-style: none;
    left: center;
    padding: 15px 15px;
}
